<h1><%= @title %></h1>

<ul>
  <% @models.each do |m| %>
    <li><a href="<%= m[:filename] %>"><%= m[:model] %></a></li>
  <% end %>
</ul>

<ul>
  <% @thumbnail_urls.each do |turl| %>
    <li><img src="<%= turl %>" /></li>
  <% end %>
</ul>

<a href="index.html">Back to index</a>
