<h1><%= @title %></h1>

<ul>
  <% @thumbnail_urls.each do |turl| %>
    <li><img src="<%= turl %>" /></li>
  <% end %>
</ul>

<a href="index.html">Back to all camera models for <%= @make %></a><br />
<a href="../index.html">Back to all camera makes</a>
